@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --co-background: #f6fbfd;
    --co-white: #ffffff;
    --co-text: #7e999f;
    --co-green: #50ef9e;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background: var(--co-background) !important;
}

/* Navbar */
.navbar {
    background: var(--co-white);
}

.navbar-brand, .navbar-brand:hover {
    color: var(--co-text);
    font-weight: bold;
}

.navbar-toggler > i {
    color: var(--co-text);
}

.nav-link {
    color: var(--co-text);
}

.nav-link:hover {
    color: #627e85;
}

.dropdown-item {
    color: var(--co-text) !important;
}

.c-form-header {
    margin-top: 50px;
}

.c-form-card {
    border-radius: 10px !important;
    max-width: 600px;
}

.form-group {
    padding: 10px;
}

.c-form-label {
    padding: 3px;
    color: var(--co-text);
}

/* Cards */
.card {
    border-radius: 12px !important;
}

/* Header */
.c-header {
    height: 91vh;
    min-height: 500px;
    background-color: var(--co-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.c-header-title {
    animation: LandingText 2s ease-in-out;
}

.c-header-description {
    animation: LandingText 2s ease-in-out;
    margin: 10px 30px 10px 30px;
}

/* Utils */
.c-job-info-section {
    padding: 5px;
    margin-top: 3px;
}

.c-job-react {
    width: 250px;

}

.btn-success {
    background: #50ef9e !important;
    border: none !important;
}

.c-link {
    text-decoration: none;
    color: var(--co-text);
    padding: 2px;
}

.c-qinput-fade-in {
    animation-name: InputFadeIn;
    animation-duration: 0.5s;
}

/* Keyframes */
@keyframes InputFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Media screens */
@media screen and (max-width: 990px) {
    .nav-item {
        margin-left: 10px;
    }
}

@media screen and (min-width: 991px) {
    .c-nav-align {
        display: flex;
        justify-content: flex-end;
    }
}
